*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* src/css/chatbot.css */

/* Ensure full page height */
.page-container {
  display: flex;
  height: 100vh;

  }
  .whole-chat-container{
    height: 100%;
  }
  
 .chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;

}

  .cs-main-container {
    height: 20%;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  


  .cs-button--attachment {
    display: none !important;
  }
  .cs-button--send {
    margin-left: 5px !important;
  }

  .cs-button--send:hover{
    background-color: rgb(205, 212, 230);
  }
  @media (max-width: 750px) {
    .chat-container {
      height: 80vh !important; /* Adjust to your preferred height */
      padding: 10px !important;
      align-items: flex-start !important;
    }

    .cs-main-container {
      height: 100% !important;
    }

    .cs-chat-container {
      height: 100% !important;
    }

    .cs-message-list {
      max-height: 45vh !important; /* Limit message area */
      overflow-y: auto !important;
    }

    .cs-message-input {
      padding: 10px !important;
    }
  }


    @media (max-width: 530px) {
      .cs-button--send {
        display: flex;
        margin-left: 5px !important;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .cs-button--send svg {
        font-size: 15px !important;
        margin-bottom: 15px;
      }
      
      
    }

