*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* src/css/chatbot.css */

/* Ensure full page height */
.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f8f9fa;
  }
  
 .chat-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(249, 254, 253);
}

 
  
  .cs-main-container {
    height: 100;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  


.cs-button--attachment {
  display: none !important;
}
.cs-button--send {
  margin-left: 10px !important;
}

.cs-button--send:hover{
  background-color: rgb(205, 212, 230);
}

  @media (max-width: 550px) {
    .MessageList.message{
      font-size: 2px;
    }
    
  }

  